body {
	overflow-x:hidden;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	webkit-tap-highlight-color:#fed136
}

h1,h2,h3,h4,h5,h6 {
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform:uppercase;
	font-weight:700
}

.text-muted{
	color:#777;
}

p {
	font-size:14px;
	line-height:1.75;
}

p.large {
	font-size:16px
}

a,a.active,a:active,a:focus,a:hover {
	outline:0
}

a.active,a:active,a:focus,a:hover {
	color:#fec503
}

.bg-light-gray {
	background-color:#eee
} 

.navbar-custom {
	background-color:#222;
	border-color:transparent
}

.navbar-custom .navbar-brand {
  color: #fff;
  font-size: 25px;
  font-family: "Satisfy", "Helvetica Neue", Helvetica, Arial, cursive;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: #fff;
}

.navbar-custom .nav li a,.navbar-custom .navbar-toggle {
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#fff;
	text-transform:uppercase;
	text-align: center;
}

.navbar-custom .navbar-collapse {
	border-color:rgba(255,255,255,.02)
}

.navbar-custom .navbar-toggle {
	background-color:#727272;
	border-color:#727272;
	font-size:12px;
	transition: all 0.2s ease-in-out;
}

.navbar-brand {
	display: block;
	padding-right: 20px;
}

.navbar-custom .navbar-toggle:focus,.navbar-custom .navbar-toggle:hover {
	background-color:#222222;
}

.navbar-custom .nav li a {
	font-weight:400;
	letter-spacing:1px;
	transition: all 0.2s ease-in-out;
}

.navbar-custom .nav li a:focus,.navbar-custom .nav li a:hover {
	color:#727272;
	outline:0;
}

.navbar-custom .navbar-nav>.active>a {
	border-radius:0;
	color:#fff;
	background-color:#727272;
}

.navbar-custom .navbar-nav>.active>a:focus,.navbar-custom .navbar-nav>.active>a:hover {
	color:#fff;
	background-color:#727272;
}

.nav-img-size {
  	width: 33%;
  	height: 33%;
  }

@media screen and (max-width: 768px) {
  .nav-img {
    visibility: hidden;
    clear: both;
    float: left;
    display: none;
  }
  .nav-text {
  	visibility: visible;
  }
  
}
@media (min-width: 768px)
{
	.nav-text {
		visibility: hidden;
	}
}
@media (min-width:768px)
{
	.navbar-custom {
	    /*background-color: transparent;*/
	    background-color:#222222;
	    padding: 17px 0;
	    -webkit-transition: padding 0.3s;
	    -moz-transition: padding 0.3s;
	    transition: padding 0.3s;
	    border: none;
	}
	.navbar-custom .navbar-nav > .active > a {
	    border-radius: 3px;
	}
}

@media (min-width: 768px) {
  .navbar-custom.affix {
    background-color: #222222;
    padding: 10px 0;
  }
}


.videoby {
	font-size: 19px;
	color: BLACK;
}

#prevevent .prevevent-item .prevevent-caption p,section h3.section-subheading {
	font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-style:italic
}

section {
	padding:100px 0
}

section#WatchEvent {
	/*background-image: url(../img/lowSizeDark1.jpg);*/
}

section h2.section-heading {
	font-size:40px;
	margin-top:0;
	margin-bottom:15px;

}

section h2.section-heading-2 {
	font-size:40px;
	margin-top:25px;
}

section h2.section-heading-3 {
	font-size:40px;
	margin-top:-60px;
	margin-bottom:65px;

}

section h2.section-heading-5 {
	font-size:40px;
	margin-top:-60px;
	margin-bottom:65px;

}

section h2.section-heading-4 {
	font-size:30px;
	margin-top:-60px;
	margin-bottom:65px;
	color: #222222;
}

section h3.section-subheading {
	font-size:16px;
	text-transform:none;
	font-weight:400;
	margin-bottom:45px;
}

section h3.section-subheading-2 {
	font-size:16px;
	text-transform:none;
	font-weight:400;
	margin-top: -5px;
	margin-bottom: -5px;
}

section h3.section-subheading-3 {
	font-size:16px;
	text-transform:none;
	font-weight:400;
	margin-bottom:-5px;
}

@media (min-width:768px)
{
	section {
		padding:150px 0;
	}
}

#prevevent .prevevent-item{
	margin:0 0 15px;
	right:0
}

#prevevent .prevevent-item .prevevent-link{
	display:block;
	position:relative;
	max-width:400px;
	margin:0 auto
}

#prevevent .prevevent-item .prevevent-link .prevevent-hover{
	background:#727272;
	position:absolute;width:100%;
	height:100%;
	opacity:0;
	transition:all ease .5s;
	-webkit-transition:all ease .5s;
	-moz-transition:all ease .5s
}

#prevevent .prevevent-item .prevevent-link .prevevent-hover:hover{
	opacity:0.9
}

#prevevent .prevevent-item .prevevent-link .prevevent-hover .prevevent-hover-content{
	position:absolute;width:100%;
	height:20px;
	font-size:20px;
	text-align:center;
	top:50%;
	margin-top:-12px;
	color:#fff
}

#prevevent .prevevent-item .prevevent-link .prevevent-hover .prevevent-hover-content i{
	margin-top:-12px
}

#prevevent .prevevent-item .prevevent-link .prevevent-hover .prevevent-hover-content h3,#prevevent .prevevent-item .prevevent-link .prevevent-hover .prevevent-hover-content h4{
	margin:0
}

#prevevent .prevevent-item .prevevent-caption{
	max-width:400px;
	margin:0 auto;
	background-color:#fff;
	text-align:center;
	padding:25px
}

#prevevent .prevevent-item .prevevent-caption h4{
	text-transform:none;
	margin:0
}

#prevevent .prevevent-item .prevevent-caption p{
	font-size:16px;
	margin:0
}

#prevevent *{z-index:2}

@media (min-width:767px)
{
	#prevevent .prevevent-item{
		margin:0 0 30px
	}
}

footer{
	padding:20px 0;
	text-align:center;
	background-color: #aaaaaa;
}

.footer-text{
	display: block;
	margin-top: 10px;
}

ul.social-buttons{
	margin-bottom:0
}

ul.social-buttons li a{
	display:block;
	background-color:#727272;
	height:40px;
	width:40px;
	border-radius:100%;
	font-size:20px;
	line-height:40px;
	color:#fff;
	outline:0;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	transition:all .3s;
}

ul.social-buttons li a:active,ul.social-buttons li a:focus,ul.social-buttons li a:hover{
	background-color:#222;
}

::selection{
	background:#b7b7b7
}

img::selection{
	background:0 0
}

img::-moz-selection{
	background:0 0
}


.special-container{
	width: 80%;
}

.special-container-2 {
	width: 70%
}

.right-content {
	visibility: hidden;
}

@media (min-width:1320px)
{
	/*.item-position {
		margin-left: -200px;	
		margin-right: 200px;
	}*/

	.right-content {
		visibility: visible;
		margin-left: 670px;
		margin-top: -786px;
		position: relative;
	}

	section h2.section-heading-2 {
		font-size:40px;
		margin-top:25px;
		margin-left: -1280px; 
	}

	section h3.section-subheading {
		font-size:16px;
		text-transform:none;
		font-weight:400;
		margin-bottom:45px;
		margin-left: -1507px;
	}

	section h3.section-subheading-2 {
		font-size:16px;
		text-transform:none;
		font-weight:400;
		margin-top: -5px;
		margin-bottom: -5px;
		margin-left: -1454px;
	}

	section h3.section-subheading-3 {
		font-size:16px;
		text-transform:none;
		font-weight:400;
		margin-bottom:-5px;
		margin-left: -1425px;
	}


}

@media (max-width: 1198px)
{	
	.hide-this {
		visibility: hidden;
	}
}

.container-width {
	width: 90%;
}

.eventdetails-right {
	float:right;
	margin-right: 384px;
}

